* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}


body {
    display: flex;
    flex-direction: column; /*Structured everything into a column and centered all the content*/
    align-items: center;
}

/* Navbar */
.nav {
    padding: 20px 200px;
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Keeps logo on left and nav items on right */
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo img {
    width: 120px;
    height: auto;
    color: #f9faf8;
    font-weight: 900;
}

/* Hero */
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
    gap: 5px;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.first-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 560px;
}

.second-item {
    flex: 1;
    text-align: center;
}

.second-item img {
    width: 500px;
    height: auto;
    display: inline;
    margin-bottom: 20px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.first-item p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 10px;
}

button {
    width: 150px;
    color: #fff;
    background-color: #3882f6;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

 /* Main */
.main {
    text-align: center;
    padding: 50px;
    width: 90%;
}

.main h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.photo-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px; /* create space on top of the photo grid*/
}

.photo-grid-item {
    width: 200px; /* Set fixed width for each image */
    text-align: center;
}

.photo-grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

/* Quote */
.quote {
    position: relative;
    background-image: url('/images/landscape\ image\ of\ Tanjiro\'s\ eyes\ from\ Demon\ Slayer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e5e7eb;
    padding: 100px;
    text-align: center;
    width: 100%;
    font-size: 36px;
    font-style: italic;
    color: #ffff;
    margin-bottom: 15px;
    font-weight: 100;
}

.quote::before { 
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1; /* Ensures overlay is above background */
}

.quote p {
    position: relative;
    z-index: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

/*Footer*/
.footer {
    width: 100%;
    padding: 50px;
}

.footer-menu {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    color: #fff;
    gap: 20px;
    margin: 50px 250px;
    padding: 50px 100px;
}

.footer .call {
    font-size: 20px;
    font-weight: bold;
}

.footer-menu button {
   padding: 10px 20px;
   background-color: #3882f6;
   color: #fff; 
   border: 2px solid #fff;
   font-weight: bold;
   border-radius: 5px;
   
}

.copyright {
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
    padding: 20px;
    width: 100%;
}
  